 <div class="footer">
            <div class="contact">
              <p>
                Dane morgan<br />
                Small Business website developer.<br />
                <a href="http://danemorganmedia.com" title="Dane Morgan Media">Dane Morgan Media</a><br />
                <a href="http://heydane.com/" title="contact Dane">Contact Dane</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/danemorgan">github.com/danemorgan</a><br />
                <a href="https://twitter.com/danemorganmedia">twitter.com/danemorganmedia</a><br />
                <a href="https://plus.google.com/+DaneMorgan">plus.google.com/+DaneMorgan/posts</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>